<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/base-layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/log_in.css}">
</head>
<body>

    <div layout:fragment="container" class="login-container">
        <div class="logo-area">
            <h1 class="logo-title">COMDOG</h1>
            <p class="logo-subtitle">컴퓨터 구매 & 인수형 렌탈</p>
        </div>

        <form th:action="@{/log_in}" method="post" class="login-form">
            
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="아이디" required>
            </div>

            <div class="input-group password-group">
                <input type="password" id="password" name="password" placeholder="비밀번호" required>
                <button type="button" class="toggle-password">
                    <i class="fa-regular fa-eye"></i>
                </button>
            </div>

            <div class="login-options">
                <label class="remember-me">
                    <input type="checkbox" name="rememberMe">
                    <span>아이디 저장</span>
                </label>
                <div class="find-links">
                    <a th:href="@{/find-id}">아이디 찾기</a> / <a th:href="@{/find-pw}">비밀번호 찾기</a>
                </div>
            </div>

            <button type="submit" class="btn-login">로그인</button>
        </form>

        <div class="divider">
            <span>회원가입하면 더 많은 혜택을 받으실 수 있어요!</span>
        </div>

        <div class="signup-area">
            <a th:href="@{/signup}" class="btn-signup">회원가입</a>
        </div>

        <div class="bottom-deco">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
        </div>
    </div>

</body>
</html>