<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 등록</title>
</head>
<body>
    <form th:action="@{/admin/member/add}" method="post">
		<div>
			<div><label>이메일:</label></div>
			<div><input type="email" name="email" required placeholder="example@email.com"></div>
		</div>
		<div>
			<div><label>비밀번호:</label></div>
			<div><input type="password" name="password" required></div>
		</div>
		<div>
			<div><label>성명:</label></div>
			<div><input type="text" name="name" required></div>
		</div>
		<div>
			<div><label>전화번호:</label></div>
			<div><input type="tel" name="phone" placeholder="010-1234-5678"></div>
		</div>
		<div>
			<div><label>회원 구분:</label></div>
			<div>
                <select name="userType">
                    <option value="PERSONAL" selected>개인 회원 (PERSONAL)</option>
                    <option value="BUSINESS">기업 회원 (BUSINESS)</option>
                </select>
            </div>
		</div>
		<div>
			<div><label>구독 여부:</label></div>
			<div>
                <input type="radio" name="isSubscribed" value="1"> 구독함
                <input type="radio" name="isSubscribed" value="0" checked> 구독안함
            </div>
		</div>
		<div>
            <div><button type="submit">등록</button></div>
			<div><a th:href="@{/admin/member/list}">취소</a></div>
		</div>
	</form>
</body>
</html>