<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<div>
			<h3>상품 목록</h3>
		</div>
	</div>
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>상품명</th>
					<th>브랜드</th>
					<th>모델명</th>
					<th>출고가</th>
					<th>재고 수량</th>
					<th>상품 설명</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>상품명</td>
					<td>브랜드</td>
					<td>모델명</td>
					<td>출고가</td>
					<td>재고 수량</td>
					<td>상품 설명</td>
					<td>수정</td><!-- 기능 추가 -->
					<td>삭제</td> <!-- 기능 추가 -->
				</tr>
			</tbody>
			<tfoot>
				<tr>
                    <td colspan="5">
                        <div>처음</div> <!-- 기능 추가 -->
                        <div>이전</div> <!-- 기능 추가 -->
                        <div>페이지 숫자들</div>	<!-- 기능 추가 -->		
                        <div>다음</div> <!-- 기능 추가 -->
                        <div>마지막</div> <!-- 기능 추가 -->
                    </td>
				</tr>
			</tfoot>
		</table>
	</div>

    <div>
        <div>상품 추가</div> <!-- 기능 추가 -->
        <div>더미 데이터 추가</div> <!-- 기능 추가 -->
        <div>초기화</div> <!-- 기능 추가 -->   
        <div>이전</div> <!-- 기능 추가 -->
    </div>
</body>
</html>