<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <head>
<meta charset="UTF-8">
<title>상품 정보 수정</title>
</head>
<body>
<form th:action="@{|/admin/product/update/${viewProduct.id}|}" method="post">
	<div>
		<div><label>상품번호</label></div>
		<div th:text="${viewProduct.id}"></div>
	</div>
	<div>
		<div><label>상품명</label></div>
		<div><input type="text" name="name" th:value="${viewProduct.name}"></div>
	</div>
	<div>
		<div><label>브랜드</label></div>
		<div><input type="text" name="brand" th:value="${viewProduct.brand}"></div>
	</div>
	<div>
		<div><label>모델명</label></div>
		<div><input type="text" name="modelName" th:value="${viewProduct.modelName}"></div>
	</div>
	<div>
		<div><label>출고가(원 단위)</label></div>
		<div><input type="number" name="basePrice" th:value="${viewProduct.basePrice}"></div>
	</div>
	<div>
		<div><label>재고 수량</label></div>
		<div><input type="number" name="stockQuantity" th:value="${viewProduct.stockQuantity}"></div>
	</div>
	<div>
		<div><label>상품 상세 설명</label></div>
		<div><textarea name="description" th:text="${viewProduct.description}"></textarea></div>
	</div>
	<div>
		<div><button type="submit">변경</button></div>
		<div><a th:href="@{/admin/product/list}">취소</a></div>
	</div>
</form>
</body>
</html>