<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 페이지 - 주문 목록</title>
</head>
<body>

	<div>
		<div>
			<h3>주문 목록</h3>
		</div>
	</div>
	
	<div>
		<form th:action="@{/admin/orders}" method="get">
			<div>
				<select name="searchType">
					<option value="memberId">회원 ID</option>
					<option value="orderStatus">주문 상태 (PAID/PENDING)</option>
					<option value="paymentMethod">결제 수단</option>
					<option value="billingKey">빌링키</option>				
				</select>
			</div>
			<div>
				<input name="keyword" type="text" placeholder="검색어 입력">
			</div>
			<div>
				<button type="submit">검색</button>
			</div>
		</form>
	</div>

	<div>
		<table border="1">
			<thead>
				<tr>
					<th>주문번호</th>
					<th>회원 ID</th>
					<th>총 주문 금액</th>
					<th>주문 상태</th>
					<th>결제 수단</th>
					<th>빌링키</th>
					<th>주문 일시</th>
					<th>상세보기</th>
					<th>취소/삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>150000</td>
					<td>PAID</td>
					<td>CREDIT_CARD</td>
					<td>bk_card_12345a</td>
					<td>2026-05-26 21:56:13</td>
					<td><button type="button">상세보기</button></td> 
					<td><button type="button">취소</button></td> 
				</tr>
				<tr>
					<td>2</td>
					<td>2</td>
					<td>50000</td>
					<td>PENDING</td>
					<td>BANK_TRANSFER</td>
					<td>-</td>
					<td>2026-05-26 21:56:13</td>
					<td><button type="button">상세보기</button></td>
					<td><button type="button">취소</button></td>
				</tr>
				<tr>
					<td>3</td>
					<td>3</td>
					<td>300000</td>
					<td>PAID</td>
					<td>CREDIT_CARD</td>
					<td>bk_card_98765b</td>
					<td>2026-05-26 21:56:13</td>
					<td><button type="button">상세보기</button></td>
					<td><button type="button">취소</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9">
						<div style="display: inline-block;">처음</div> 
						<div style="display: inline-block;">이전</div> 
						<div style="display: inline-block;">[1]</div> 
						<div style="display: inline-block;">[2]</div> 
						<div style="display: inline-block;">[3]</div>	
						<div style="display: inline-block;">다음</div> 
						<div style="display: inline-block;">마지막</div> 
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

</body>
</html>